.git/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.ipynb_checkpoints/

analysis/
benchmarks/
TD3/
tests/

logs/
results/
luanti-run-*/

craftium/.git/
craftium/wheelhouse/
craftium/**/__pycache__/